<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        {%csrf_token%}
        <table border="2"align="center">
            <tr>
                <th>Number</th>
                <td><input type="text" name="txtno" id="txtno"></td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <input type="submit" name="btnsubmit" value="Check">
                </td>
            </tr>
            <tr>
                <th>Result</th>
                <td>{{result}}</td>
            </tr>
        </table>
    </form>
</body>
</html>