{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'Admin/assets/images/favicon.png' %}"> 
    <title>Medicore — Admin Portal</title>
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'Admin/assets/node_modules/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'Admin/assets/node_modules/perfect-scrollbar/css/perfect-scrollbar.css' %}" rel="stylesheet">
    <!-- This page CSS -->
    <!-- chartist CSS -->
    <link href="{% static 'Admin/assets/node_modules/morrisjs/morris.css' %}" rel="stylesheet">
    <!--c3 CSS -->
    <link href="{% static 'Admin/assets/node_modules/c3-master/c3.min.css' %}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{% static 'Admin/css/style.css' %}" rel="stylesheet">
    <!-- Dashboard 1 Page CSS -->
    <link href="{% static 'Admin/css/pages/dashboard1.css' %}" rel="stylesheet">
    <!-- You can change the theme colors from here -->
    <link href="{% static 'Admin/css/colors/default.css' %}" id="theme" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body class="fix-header fix-sidebar card-no-border">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">Admin Wrap</p>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar">
            <nav class="navbar top-navbar navbar-expand-md navbar-light">
                <!-- ============================================================== -->
                <!-- Logo -->
                <!-- ============================================================== -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="{% url 'Admin:home' %}">
                        <b style="font-size: 24px; font-weight: bold; color: rgb(40, 137, 183);">
                            <i class="fa fa-heartbeat"></i> Medicore
                        </b>
                    </a>
                </div>
                
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up waves-effect waves-dark" href="javascript:void(0)"><i class="fa fa-bars"></i></a> </li>
                        <!-- ============================================================== -->
                        <!-- Search -->
                        <!-- ============================================================== -->
                        <li class="nav-item hidden-xs-down search-box"> <a class="nav-link hidden-sm-down waves-effect waves-dark" href="javascript:void(0)"><i class="fa fa-search"></i></a>
                            <form class="app-search">
                                <input type="text" class="form-control" placeholder="Search & enter"> <a class="srh-btn"><i class="fa fa-times"></i></a></form>
                        </li>
                    </ul>
                    <!-- ============================================================== -->
                    <!-- User profile and search -->
                    <!-- ============================================================== -->
                   
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li> <a class="waves-effect waves-dark" href="{% url 'Admin:home' %}" aria-expanded="false"><i class="fa fa-tachometer"></i><span class="hide-menu">Dashboard</span></a>
                        </li>
                        <li> <a class="waves-effect waves-dark" href="{% url 'Admin:myprofile' %}" aria-expanded="false"><i class="fa fa-user-circle-o"></i><span class="hide-menu">Profile</span></a>
                        </li>
						<li>
							<a class="waves-effect waves-dark" href="{% url 'Admin:district' %}" aria-expanded="false">
								<i class="fa fa-map"></i>
								<span class="hide-menu">District</span>
							</a>
						</li>
						
						<li>
							<a class="waves-effect waves-dark" href="{% url 'Admin:place' %}" aria-expanded="false">
								<i class="fa fa-location-arrow"></i>
								<span class="hide-menu">Place</span>
							</a>
						</li>
						<li>
							<a class="waves-effect waves-dark" href="{% url 'Admin:userlist' %}" aria-expanded="false">
								<i class="fa fa-users"></i>
								<span class="hide-menu">User List</span>
							</a>
						</li>
						
                        <li>
							<a class="waves-effect waves-dark" href="{% url 'Admin:shoplist' %}" aria-expanded="false">
								<i class="fa fa-shopping-cart"></i>
								<span class="hide-menu">Shop List</span>
							</a>
						</li>
						
						<li>
							<a class="waves-effect waves-dark" href="{% url 'Admin:doctorlist' %}" aria-expanded="false">
								<i class="fa fa-bookmark-o"></i><span class="hide-menu">Doctor List</span>
							</a>
						</li>
						
                        <li>
							<a class="waves-effect waves-dark" href="{% url 'Admin:usercomplaint' %}" aria-expanded="false">
								<i class="fa fa-exclamation-circle"></i><span class="hide-menu">User Complaints</span>
							</a>
						</li>
						
                    </ul>
                   
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
		{% block content %}
		{% endblock content %}
           <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer"> © 2018 Adminwrap by wrappixel.com </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="{% static 'Admin/assets/node_modules/jquery/jquery.min.js' %}"></script>
    <!-- Bootstrap popper Core JavaScript -->
    <script src="{% static 'Admin/assets/node_modules/bootstrap/js/popper.min.js' %}"></script>
    <script src="{% static 'Admin/assets/node_modules/bootstrap/js/bootstrap.min.js' %}"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="{% static 'Admin/js/perfect-scrollbar.jquery.min.js' %}"></script>
    <!--Wave Effects -->
    <script src="{% static 'Admin/js/waves.js' %}"></script>
    <!--Menu sidebar -->
    <script src="{% static 'Admin/js/sidebarmenu.js' %}"></script>
    <!--Custom JavaScript -->
    <script src="{% static 'Admin/js/custom.min.js' %}"></script>
    <!-- ============================================================== -->
    <!-- This page plugins -->
    <!-- ============================================================== -->
    <!--morris JavaScript -->
    <script src="{% static 'Admin/assets/node_modules/raphael/raphael-min.js' %}"></script>
    <script src="{% static 'Admin/assets/node_modules/morrisjs/morris.min.js' %}"></script>
    <!--c3 JavaScript -->
    <script src="{% static 'Admin/assets/node_modules/d3/d3.min.js' %}"></script>
    <script src="{% static 'Admin/assets/node_modules/c3-master/c3.min.js' %}"></script>
    <!-- Chart JS -->
    <script src="{% static 'Admin/js/dashboard1.js' %}"></script>
</body>

</html>				